body {
	background-color: #b8c6f5;
}

.jedi-image {
	border: 3px;
	border-color: black;
	border-style: solid;
	width: 150px;
	height: 150px;
}

.sith-image {
	border: 3px;
	border-color: black;
	border-style: solid;
	width: 150px;
	height: 150px;
}