body {
	background-color: #b8c6f5;
}

.jedi-image {
	border: 3px;
	border-color: black;
	border-style: solid;
	width: 150px;
	height: 150px;
	margin: 0 5px;
}

.sith-image {
	border: 3px;
	border-color: black;
	border-style: solid;
	width: 150px;
	height: 150px;
	margin: 0 5px;
}
#next-turn {
	text-align:center;
	border: 3px;
	border-color: white;
	border-style: solid;
	background-color: orange;
	margin-top: 1em;
	color: white;
	font-weight: bold;
}

#next-turn-column {
	padding-right:0px;
}

.jumbotron {
	text-align: center;
}

.fighter-row {
	height: 180px;
}

.text-dec {
	height: 100%;
	width: auto;
	font-size: 1.5em;
}

.control-button {
	text-align:center;
	border: 3px;
	border-color: white;
	border-style: solid;
	background-color: green;
	margin: 1em 1em;
	color: white;
	font-weight: bold;
}

.inactive-button {
	background-color: gray!important;
}