@font-face {
    font-family: "My Custom Font";
    src: url(UniversBlack.ttf);
}

body {
	background-image: url("../images/ce-starfield-background-1.jpg");
}

.col {
	color: lightgray;
}

.fighter-image {
	border: 4px;
	border-color: #444444;
	border-style: solid;
	width: 150px;
	height: 150px;
	margin: 5px 5px;
}

.h1 {
	font-family: "My Custom Font",'Roboto', sans-serif;
	font-weight: bolder;
}

.jumbotron {
	text-align: center;
	padding: 3rem 2rem;
	margin-bottom: 1rem;
	color: yellow;
    background-color: transparent;
}


.text-dec {
	height: 100%;
	width: auto;
	font-size: 1.5em;
}

.control-button {
	text-align:center;
	border-width: 1px 1px 3px 3px;
	border-color: white;
	border-style: solid;
	background-color: green;
	margin: 1em 1em;
	color: white;
	font-weight: bold;
	width: 150px;
}

#next-turn {
	background-color: orange;
}

.invisible {
	display: none;
}

.pressed-button {
	background-color: gray;
	text-align:center;
	border: 2px;
	border-color: white;
	border-style: solid;
	margin: 1em 1em;
	color: white;
	font-weight: bold;
	width: 150px;
}

.highlighted-fighter {
	border-color: green!important;
}

.NA-fighter {
	border-color: red!important;
}

.selected-fighter {
	margin: 10px 0 0 10px;
}

.attacking-sith {
	border-color: red!important;
	margin: 10px 0 0 10px;
}

.tapped-fighter {
	border-color: yellow;
	margin: 10px 0 0 10px;
}